<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         backupGlobals="false">

    <testsuites>
        <testsuite name="Integration">
            <file>tests/Integration/Test_MM_DB.php</file>
            <file>tests/Integration/Test_MM_Settings.php</file>
            <file>tests/Integration/Test_MM_Frontend.php</file>
            <file>tests/Integration/Test_MM_JobQueue.php</file>
            <file>tests/Integration/Test_MM_CLI.php</file>
            <file>tests/Integration/Test_MM_REST.php</file>
            <file>tests/Integration/Test_MM_Metadata.php</file>
            <file>tests/Integration/Test_MM_Mod_Rss.php</file>
        </testsuite>
    </testsuites>

</phpunit>
